<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      <% if (lang === 'pt_br') { %>
        Identifique-se
      <% } else { %>
        Identify yourself
      <% } %>
    </title>

    <style>
      body {
        background: #f8f9fa;
        font-family: Arial, Helvetica, sans-serif;
        color: #343a40;
        font-size: 17px;
        font-weight: 400;
      }
      #box {
        max-width: 100%;
        padding: 20px;
      }
      #box > div {
        max-width: 300px;
        margin: 0 auto;
      }
      #box > div > div {
        margin-bottom: 20px;
      }
      #box > div > a {
        display: block;
        padding: 14px;
        margin-bottom: 7px;
        white-space: nowrap;
        border-radius: 3px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        text-transform: none;
        text-decoration: none;
        border-width: 1px;
        border-style: solid;
        color: #fff;
        -webkit-transition: 1s;
        transition: 1s;
      }
      #box > div > a > span {
        display: inline-block;
        width: 27px;
        text-align: center;
        margin-right: 5px;
      }
      .facebook {
        background: #3b5999;
        border-color: #2f4d8a;
      }
      .facebook:hover {
        background: #274480;
        border-color: #274480;
      }
      .google {
        background: #cb4023;
        border-color: #be3419;
      }
      .google:hover {
        background: #c1361a;
        border-color: #c1361a;
      }
      .windows {
        background: #329ffc;
        border-color: #2996f2;
      }
      .windows:hover {
        background: #1f8ce9;
        border-color: #1f8ce9;
      }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  </head>

  <body>
    <div id="box">
      <div>
        <div>Store name</div>
        <a class="facebook" href="facebook">
          <span>
            <i class="fab fa-facebook-f"></i>
          </span>
          <% if (lang === 'pt_br') { %>
            Entrar com Facebook
          <% } else { %>
            Login with Facebook
          <% } %>
        </a>
        <a class="google" href="google">
          <span>
            <i class="fab fa-google"></i>
          </span>
          <% if (lang === 'pt_br') { %>
            Entrar com Google
          <% } else { %>
            Login with Google
          <% } %>
        </a>
        <a class="windows" href="windowslive">
          <span>
            <i class="fab fa-windows"></i>
          </span>
          <% if (lang === 'pt_br') { %>
            Entrar com Windows
          <% } else { %>
            Login with Windows
          <% } %>
        </a>
      </div>
    </div>
  </body>
</html>
