<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <% if (lang === 'pt_br') { %>
        Identifique-se
      <% } else { %>
        Identify yourself
      <% } %>
    </title>
  </head>
  <body>
  </body>
</html>
